<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>
        <h3>Edit Your Job Posting</h3>
    </div>
    <div>
        <a href="/logout">Logout</a>
        <a href="/dashboard">Back</a>
    </div>
    <div>
        <form action="/edit/{{job.id}}/update" method="POST">
            {% csrf_token %}
            <p>Title: <input type="text" name="title" value="{{job.title}}"></p>
            <p>Description: <textarea name="description" cols="30" rows="10">{{job.description}}</textarea></p>
            <p>Location: <input type="text" name="location" value="{{job.location}}"></p>
            <input type="submit" value="Update!">
        </form>
    </div>
</body>
</html>